# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# 自动生成的文档
docs

# 运行的日志 以及上传的图片
runtime

# module 模式
go.mod
go.sum

.idea
